# ============================
# Docker Compose 환경 변수
# ============================

# MySQL 설정
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# ============================
# Spring Boot 환경 변수 (로컬)
# ============================
SPRING_PROFILES_ACTIVE=logging-local

LOCAL_DB_URL=jdbc:mysql://localhost:3306/{DB_NAME}?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
LOCAL_DB_USERNAME=
LOCAL_DB_PASSWORD=

JWT_SECRET=

KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

DART_API_KEY=
