spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: ${LOCAL_DB_URL}
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  jwt:
    secret: ${JWT_SECRET}  # 최소 256bit 이상
    token:
      access-expiration-time: 1800000   # 30분
      refresh-expiration-time: 604800000  # 7일
  data:
    redis:
      host: localhost
      port: 6379
  oauth:
    kakao:
      client-id: ${KAKAO_CLIENT_ID}
      client-secret: ${KAKAO_CLIENT_SECRET}
      redirect-uri: http://localhost:8080/oauth2/callback/kakao
#    google:
#      client-id: ${GOOGLE_CLIENT_ID}
#      client-secret: ${GOOGLE_CLIENT_SECRET}
#      redirect-uri: http://localhost:3000/oauth/google/callback

cookie:
  secure: false  # 운영환경(HTTPS)에서는 true, 로컬 HTTP 테스트 시에는 false
  same-site: Lax